project_report/*.aux
project_report/*.log
project_report/*.out
project_report/main.pdf
project_report/*.bbl
project_report/*.gz
project_report/*.fdb_latexmk
project_report/*.fls
.DS_Store
project_report/.vscode/
project_report/main.blg
.vscode